
.block {
	border:1px solid black;
	padding:1em;
	text-align:center;
	box-shadow:10px 10px;
	margin:2em;
}


.darkSide {
	background-color:grey;
}

.forceSide {
	background-color:yellow;
}

.block__img {
    max-width: 200px;
	box-shadow:5px 5px;
}

